set noswapfile
set number
set relativenumber
set cursorline
set clipboard=unnamedplus
set tabstop=2
set shiftwidth=2
set expandtab
set autoindent
set ignorecase
set smartcase
set splitright
set splitbelow
set scrolloff=999
set background=dark
set backspace=indent,eol,start

let mapleader="\<Space>"

vnoremap p "_dP
nnoremap <CR> m`o<Esc>``
nnoremap <S-CR> m`O<Esc>``
nnoremap ; :
inoremap jk <Esc>

nnoremap <leader>cs :nohlsearch<CR>

nnoremap + <C-a>
nnoremap - <C-x>

nnoremap <leader>sv <C-w>v
nnoremap <leader>sh <C-w>s
nnoremap <leader>sx :action Unsplit<CR>

nnoremap <leader>x :action CloseEditor<CR>

nnoremap gR :action FindUsages<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gt :action GotoTypeDeclaration<CR>

nnoremap <leader>ca :action ShowIntentionActions<CR>
xnoremap <leader>ca :action ShowIntentionActions<CR>

nnoremap <leader>rn :action RenameElement<CR>

nnoremap <leader>d :action ShowErrorDescription<CR>

nnoremap K :action QuickJavaDoc<CR>

noremap <leader>fm :action ReformatCode<CR>

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

nnoremap <leader>ot :action ActivateTerminalToolWindow<CR>

nnoremap <leader>ff :action GotoFile<CR>
noremap <leader>fr :action RecentFiles<CR>
noremap <leader>fw :action FindInPath<CR>

nnoremap <Tab> :tabnext<CR>
nnoremap <S-Tab> :tabprevious<CR>

inoremap <S-Tab> <C-D>
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv

nnoremap gcc :action CommentByLineComment<CR>
xnoremap gc :action CommentByLineComment<CR>

nnoremap <Leader>ec :action Run<CR>
nnoremap <Leader>dc :action Debug<CR>
nnoremap <Leader>bp :action ToggleLineBreakpoint<CR>

vmap <Leader>ys :action SurroundWith<CR>